<html>
  <body>
    <h2>ディカプリgオ</h2>
    <p>7ka5's super view</p>
    <img src='images/superview.png' height='120px'>
    <% @results.each do |result| %>
      <p><b><%= result[:name] %></b></p>
      <p><%= result[:watched] ? 'そうか。見たか。' : 'そうか。見てないのか。' %></p>
      <div>7ka5's super view: <%= result[:comment] %></div>
      </br>
    <% end %>
  </body>
</html>
