<html>
  <body>
    <h2>ディカプリgオ</h2>
    <form method="get" action="./check">
      <% @movies.each_with_index do |movie, i| %>
        <p><%= movie[:name] %></p>
        <input type="radio" name="<%= movie[:id] %>" value="はい"> はい
        <input type="radio" name="<%= movie[:id] %>" value="いいえ" checked> いいえ
      <% end %>
      <p><input type="submit" value="ディカプリGO!"></p>
    </form>
  </body>
</html>
